.markdown-body img{
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 2em;
    text-align: center;
    max-width: 90%;
    margin: 10px auto;
    margin-left:5%;
}

.markdown-body h1{font-size:1.6em;}
.markdown-body h2{font-size:1.4em;}
.markdown-body h3{font-size:1.25em;}
.markdown-body h4{font-size:1.15em;}
.markdown-body h5{font-size:1.1em;}
.markdown-body h6{font-size:1em;}

.markdown-body {font-size:14px;}
